<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
        <% entry.errors.each do |error| %>
          <div><%= error.full_message %></div>
        <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.text_area :content, placeholder: "What's on your mind?" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
