<div class="entries">
  <header>
    <nav>
      <div class="title">
        <i class="fa-solid fa-feather-pointed"></i>
        Dear<span>Diary</span>
      </div>
      <ul>
        <li><i class="fa-solid fa-user-tie"></i>
          <%= current_user.email %>
        </li>
        <li><%= link_to destroy_user_session_path, method: :delete, class: "log-out" do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <% end %></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="title">
        <div class="name">
          <div class="count"><i class="fa-solid fa-thumbtack"></i><%= @entries.count %></div>
          <div>Entries</div>
        </div>
        <%= link_to '+ Add New', new_entry_path, class: "add" %>
      </div>
      <div class="entry">
        <% @entries.each do |entry| %>
          <div class="list">
            <div class="entry-title"><i class="fa-solid fa-list"></i><%= entry.title %></div>
            <div class="created-at">
              <i class="fa-solid fa-calendar"></i>
              <%= entry.created_at.strftime("%b %d, %Y") %>
            </div>
            <div class="options">
              <%= link_to entry do %>
                <i class="fa-solid fa-book-open"></i>
              <% end %>
              <%= link_to edit_entry_path(entry) do %>
                <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= link_to entry, method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>
